In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [5]:
data_path = "/home/aspiringminds/freebird/ML-Practice/data/USA_Housing.csv"

In [6]:
df = pd.read_csv(data_path)

In [7]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [8]:
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [9]:
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [10]:
X = df[['a', 'b', 'c', 'd', 'e']]
X = np.array(X)
print(X.shape)

(5000, 5)

In [11]:
scalar = StandardScaler() # object of the Standard Scalar, normalize the data, with mean = 0 , var = 1 
data = np.array([ [10, 20, 30, 40, 50]])

In [8]:
scalar.fit(X)   # find the Mean and STD and store it for the future transformation
tmp = scalar.transform(X)  # Centre the data and Scale the data using mean and STD
print(X.shape)

(5000, 5)

In [9]:
tmp = scalar.fit_transform(X) # perfrom the work of .fit() and .transform() in one step
print(tmp)

[[ 1.02865969 -0.29692705  0.02127433  0.08806222 -1.31759867]
 [ 1.00080775  0.02590164 -0.25550611 -0.72230146  0.40399945]
 [-0.68462916 -0.11230283  1.5162435   0.93084045  0.07240989]
 ...
 [-0.48723454  1.28447022 -2.17026949 -1.50025059 -0.29193658]
 [-0.05459152 -0.44669439  0.14154061  1.18205319  0.65111608]
 [-0.28831272  0.01521477 -0.19434166  0.07185495  1.04162464]]

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [53]:
scalar2 = MinMaxScaler()  # scaling between min and max, x_transform = min + (max-min)*((x-x.min)/(x.max-x.min))
tmp2 = scalar2.fit_transform(X)

In [54]:
print(tmp2)

[[0.68682217 0.44198584 0.50150158 0.46444444 0.3299422 ]
 [0.68352073 0.48853836 0.46450137 0.24222222 0.57596801]
 [0.48373705 0.46860901 0.70135011 0.69555556 0.52858204]
 ...
 [0.50713527 0.67002636 0.20853446 0.02888889 0.47651494]
 [0.55841872 0.4203891  0.51757886 0.76444444 0.61128233]
 [0.53071451 0.48699729 0.47267788 0.46       0.66708815]]