In [21]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
data_file_path = "../../data/Iris.csv"
data_df = pd.read_csv(data_file_path)
data_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
category_set = set(data_df['Species'])
category_set

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [5]:
category_mapping = {'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [9]:
data_df['label'] = data_df['Species'].apply(lambda x: category_mapping[x])
data_df.describe()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,label
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.054000,3.758667,1.198667,1.000000
std,43.445368,0.828066,0.433594,1.764420,0.763161,0.819232
min,1.000000,4.300000,2.000000,1.000000,0.100000,0.000000
25%,38.250000,5.100000,2.800000,1.600000,0.300000,0.000000
50%,75.500000,5.800000,3.000000,4.350000,1.300000,1.000000
75%,112.750000,6.400000,3.300000,5.100000,1.800000,2.000000
max,150.000000,7.900000,4.400000,6.900000,2.500000,2.000000

In [47]:
X = data_df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
X = np.array(X)
X[0]

array([5.1, 3.5, 1.4, 0.2])

In [52]:
Y = data_df['label']
Y = np.array(Y, ndmin=0)
Y[0]

0

In [53]:
# scalar = StandardScaler()
# scalar.fit(X)
# X = scalar.transform(X)

In [59]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size= 0.4, random_state = 42)
print(len(xtrain), len(xtest), len(ytrain), len(ytest))
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

90 60 90 60
(90, 4) (60, 4) (90,) (60,)

In [60]:
classifier = LogisticRegression()
classifier.fit(xtrain, ytrain)
ypredict = classifier.predict(xtest)

In [61]:
accuracy_score(ytest, ypredict)

0.9666666666666667

In [80]:
def sigmoid(x):
    return (1/(1+ np.exp(-x)))
sigmoid(np.array([0, 1]))

array([0.5       , 0.73105858])

In [78]:
xtranspose = xtrain.transpose()
xtranspose.shape

(4, 90)

In [81]:
def logCost(X,y, w):
    m = len(y)

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

-inf