In [3]:
import mysql.connector as sequel
from mysql.connector import errorcode

## Connection object 
    - To connect with mysql server

In [4]:
cnx = sequel.connect(user='root', password='', host='localhost', database='model_repo')

In [5]:
cnx.close()

In [6]:
try:
    print("Opening database")
    cnx = sequel.connect(user='root', password='', host='localhost', database='model_repo')
except sequel.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with user name and password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database doesn't exist")
    else:
        print("error:", err)
else:
    print("Closing database")
    cnx.close()

Opening database
Closing database

In [7]:
DB_NAME = 'employees'

TABLES = {}
TABLES['employees'] = (
    "CREATE TABLE `employees` ("
    "  `emp_no` int(11) NOT NULL AUTO_INCREMENT,"
    "  `birth_date` date NOT NULL,"
    "  `first_name` varchar(14) NOT NULL,"
    "  `last_name` varchar(16) NOT NULL,"
    "  `gender` enum('M','F') NOT NULL,"
    "  `hire_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`)"
    ") ENGINE=InnoDB")

TABLES['departments'] = (
    "CREATE TABLE `departments` ("
    "  `dept_no` char(4) NOT NULL,"
    "  `dept_name` varchar(40) NOT NULL,"
    "  PRIMARY KEY (`dept_no`), UNIQUE KEY `dept_name` (`dept_name`)"
    ") ENGINE=InnoDB")

TABLES['salaries'] = (
    "CREATE TABLE `salaries` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `salary` int(11) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `salaries_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_emp'] = (
    "CREATE TABLE `dept_emp` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `dept_no` char(4) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`), KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_emp_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_emp_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_manager'] = (
    "  CREATE TABLE `dept_manager` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `dept_no` char(4) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`),"
    "  KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['titles'] = (
    "CREATE TABLE `titles` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `title` varchar(50) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date DEFAULT NULL,"
    "  PRIMARY KEY (`emp_no`,`title`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`emp_no`)"
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

## Cursor Object
    - To perform DDL(data definition language) statements

In [8]:
# connection object
cnx = sequel.connect(user='root', host='localhost')

In [9]:
# cursor object
cursor = cnx.cursor()

In [20]:
# Can execute DDL statements using the cursor
# cursor.execute('')

In [21]:
# Connecting to employees database, if doesn't. exist need to create it first

In [10]:
def create_db(cursor):
    print("Creating a new DB")
    try:
        cursor.execute(f"CREATE DATABASE {DB_NAME} DEFAULT CHARACTER SET 'utf8'")
    except sequel.Error as err:
        print("Failed creating the database: ", err)

In [11]:
try:
    cursor.execute(f"USE {DB_NAME}")
    print("Now using the database: ", DB_NAME)
    # create tables
except sequel.Error as err:
    print("Error occured while selecting database")
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        print("DB doesnot exists")
        # create db first 
        create_db(cursor)
        print("DB successfully created")
        cnx.database=DB_NAME
        pass
    else:
        print(err)

Now using the database:  employees

In [25]:
# Now creating tables 
# for name, description in TABLES.items():
#     try:
#         print("Creating table: ", name)
#         cursor.execute(description)
#     except sequel.Error as err:
#         if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#             print("Table already exits")
#         else:
#             print("Error occured: ",err)
#     else:
#         print("Table created successfully")

Creating table:  employees
Table already exits
Creating table:  departments
Table already exits
Creating table:  salaries
Table already exits
Creating table:  dept_emp
Table already exits
Creating table:  dept_manager
Table already exits
Creating table:  titles
Table already exits

In [12]:
# Executing a simple query
query = "SELECT * FROM departments"

In [13]:
cursor.execute(query)

In [14]:
results = cursor.fetchall()

In [15]:
for item in results:
    print(item)

('d009', 'Customer Service')
('d005', 'Development')
('d002', 'Finance')
('d003', 'Human Resources')
('d001', 'Marketing')
('d004', 'Production')
('d006', 'Quality Management')
('d008', 'Research')
('d007', 'Sales')

In [17]:
# close the connections
cursor.close()
cnx.close()

## Question 
1. When we create a connection object, it establishes the connection with DB.
    - What is the bandwidth of this connection object ?
    - Can we make parallel requests to this object ?
    - Can we share this object with threads ?
    - When did this connection object will close or throw some exception ?