In [40]:
import numpy as np
import pandas as pd
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [34]:
df = pd.read_csv('USA_Housing.csv')

In [6]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [9]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [11]:
y = df['Price']

In [17]:
y = np.array(y)
type(y)
y.shape

(5000,)

In [18]:
df.columns = ['income', 'age', 'rooms', 'bedrooms', 'population', 'price', 'address']

In [21]:
X = df[['income', 'age', 'rooms', 'bedrooms', 'population']]

In [26]:
X = np.array(X)
X.shape

(5000, 5)

In [27]:
print(X.shape)
print(y.shape)

(5000, 5)
(5000,)

In [28]:
n = 5  # No. of features
m = 5000  # No. of training examples

In [29]:
w = np.zeros(shape = (5))  # weight matrix, shape = (n,1) or (n,)

In [31]:
print(type(w))
print(w.shape)
print(w)

<class 'numpy.ndarray'>
(5,)
[0. 0. 0. 0. 0.]

In [ ]:
X_train, X_test, y_train, y_test =